//- Title
title Jade Starter Kit

//- Meta(s)
meta(name="description", content="Use the Jade Starter Kit for any project you want! Get it on GitHub!")
meta(name="author", content="The Design Team")
meta(name="viewport", content="width=device-width, initial-scale=1.0")
meta(chartset="utf-8")

//- Stylesheet(s)
link(rel="stylesheet" href="_assets/_css/main.css")

//- Icon(s)
link(rel="icon", type="icon/png", href="_assets/_img/favicon.png")
